# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# Environment variables (Secrets)
.env

# Uploaded videos (Too large for Git)
backend/uploads/

# Node modules (Javascript dependencies)
node_modules/

# IDE settings
.vscode/

# Machine Learning Data & Models
backend/ml_training/asl_landmarks.csv
backend/models/gesture_model.pkl

# Uploaded Videos (Safety first!)
backend/uploads/*

# Python caches
**/__pycache__/
*.pyc